* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: #658864;
    padding: 20px;
    color: #fff;
    height: 100vh;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 15px 0;
    cursor: pointer;
}

.sidebar ul li div {
    padding: 15px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #444444;
    padding-left: 10px;
    transition: 0.3s;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Main content area styling */
.main-content {
    flex: 1;
    padding: 20px;
}

.header-bar {
    background-color: #658864;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tabs .nav-link {
    color: black;
}

.nav-tabs .nav-link:hover {
    color: black;
}

.header-bar h1 {
    font-size: 20px;
    color: #fff;
}

.header-bar .profile {
    display: flex;
    align-items: center;
}

.header-bar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.content {
    margin-top: 20px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: #d92148;
}

ul {
    list-style-type: none;
    padding: 0;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.submenu li {
    border: none;
}

#dropdownArrow {
    height: 1rem;
    rotate: 270deg;
}

div span {
    color: #fff;
}